@font-face {
	font-family: 'Lunchds';
	src: url('../LunchtimeDoublySoReg.eot');
	src: url('../LunchtimeDoublySoReg.eot?#iefix') format('embedded-opentype'),
		url('../LunchtimeDoublySoReg.woff') format('woff'),
		url('../LunchtimeDoublySoReg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: black;
	overflow-x: hidden;
}
h1 {
	margin: 0 auto;
	color: #cfcfcf;
	text-align: center;
	font-family: 'Lunchds';
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#firstq:hover {
	cursor: text;
	color:#cfcfcf;
}
#secondq:hover {
	cursor: text;
	color:#cfcfcf;
}
.header:hover {
	cursor:default
}
.assistant {
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 18px;
	margin-top: 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.assistant:hover {
	cursor: text;
}
ul {
	list-style-type: none;
	margin-top: 5%;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
ul li {
	font-family: 'Lunchds';
	color: #cfcfcf;
	font-size: 18px;
	margin-bottom: 12px;
	text-align: center;
}
ul li:hover {
	color: white;
	cursor: pointer;
}
.return {
	background-color: black;
	color: #cfcfcf;
	display: block;
	text-align: center;
	font-family: 'Lunchds';
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;	
}
.return:hover {
	color: white;
}
.active {
	color: white;
}

.inactive {
	
}
.active div {
	color: #cfcfcf !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#attributeList {
	display: inline-block;
	position: fixed;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 95.188 auto auto 16
}
#attributeList li div{
	display: inline-block;
	color: black;
}

.active:hover {
	cursor: text;
}
.active2 {
	color: white;
}
.active2:hover {
	cursor: text;
}
div:hover {
	color: white;
	cursor: pointer;
}
.header {
	cursor: pointer;
}
#totalAttrPnts {
	float: right;
	background-color: black;
	width: 350px;
	height: 150px;
	position: absolute;
	left: 81%;
	z-index: -1;
}
#selectHuman {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectHuman:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectElf {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectElf:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectDwarf {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectDwarf:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectOrc {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectOrc:hover {
	cursor: pointer;
	color: #CFB53B;
}
#totalAttrPnts {
	color: #07e6ed;
	font-size: 24px;
	font-family: 'Lunchds';
	margin-top: 1%;
}
#totalAttrPnts p {
	color: #cfcfcf;
	font-family: 'Lunchds';
	display: inline;
}
#counters {
	position: fixed;
	display:  inline-block;
	color: #07e6ed;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#counters li {
	color: #FFDF00;
}
#counters li:hover {
	cursor: text;
	color: #FFDF00;
}
.attributeContainer {
	width: 12.5%;
    margin: 0 42.5% 0 47%
}
#preview {
	background-color: #222222;
	border: 2px;
	position: absolute;
	left: 80%;
	overflow-y: scroll;
	height: 80%; 
	width: 20%;
	top: 10%;
	z-index: 100;
	cursor: text;
	padding-right: 17px;
	position: fixed;
	border: 3px groove #cfcfcf;
	cursor: default !important;
}
.attributeContainer {
	width: 12.5%;
    margin: 0 42.5% 0 47%
}
#preview {
	background-color: #222222;
	border: 2px;
	position: absolute;
	left: 80%;
	overflow-y: scroll;
	height: 80%; 
	width: 20%;
	top: 10%;
	z-index: 100;
	cursor: text;
	padding-right: 17px;
	position: fixed;
	border: 3px groove #cfcfcf;
	cursor: default !important;
}
/* There's a whole lot of CSS here because doing it automatically didn't work for some reason. ¯\_(ツ)_/¯ */
#userNamePreview, #healthPreview, #manaPreview, #staminaPreview, #racePreview {
	cursor: default !important; 
	color: #CFCFCF;
}
#userNamePreview:hover {
	color: #CFCFCF;
}
#healthPreview:hover {
	color: #CFCFCF;
}
#manaPreview:hover {
	color: #CFCFCF;
}
#staminaPreview:hover {
	color: #CFCFCF;
}
#racePreview:hover {
	color: #CFCFCF;
}
.userNamePreview {
	display: inline-block;
}
.next {
	color:#cfcfcf;
	font-family: 'Lunchds';
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 18px;
}
#skillList {
	text-align: center;
}
#skillList li {
	
}
.previewClass {
	cursor: text !important; 
	color: #CFCFCF;
}
.previewClass:hover {
	color: #CFCFCF;
}