@font-face {
	font-family: 'Lunchds';
	src: url('../LunchtimeDoublySoReg.eot');
	src: url('../LunchtimeDoublySoReg.eot?#iefix') format('embedded-opentype'),
		url('../LunchtimeDoublySoReg.woff') format('woff'),
		url('../LunchtimeDoublySoReg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: black;
	overflow-x: hidden;
}
h1 {
	margin: 0 auto;
	color: #cfcfcf;
	text-align: center;
	font-family: 'Lunchds';
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#whatsYourName {
	background-color: #424242;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 45px;
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 24px;
}
input:focus {
	outline: none;
}
#firstq:hover {
	cursor: text;
	color:#cfcfcf;
}
#secondq:hover {
	cursor: text;
	color:#cfcfcf;
}
.header:hover {
	cursor:default
}
.assistant {
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 18px;
	margin-top: 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.assistant:hover {
	cursor: text;
}
ul {
	list-style-type: none;
	margin-top: 5%;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
ul li {
	font-family: 'Lunchds';
	color: #cfcfcf;
	font-size: 18px;
	margin-bottom: 12px;
	text-align: center;
}
ul li:hover {
	color: white;
	cursor: pointer;
}
.return {
	background-color: black;
	color: #cfcfcf;
	display: block;
	text-align: center;
	font-family: 'Lunchds';
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;	
}
.return:hover {
	color: white;
}
.active {
	color: white;
}

.inactive {
	
}
.active div {
	color: #cfcfcf !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#attributeList {
	margin-right: 30%;
	display: inline;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: -20%;
}
#attributeList li div{
	display: inline;
	color: black;
}
#counters {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#counters li {
	color: #FFDF00;
}
#counters li:hover {
	cursor: text;
	color: #FFDF00;
}
.attributeContainer {
	display: flex;
}
.active:hover {
	cursor: text;
}
.active2 {
	color: white;
}
.active2:hover {
	cursor: text;
}
div:hover {
	color: white;
	cursor: pointer;
}
.header {
	cursor: pointer;
}
#totalAttrPnts {
	float: right;
	background-color: black;
	width: 350px;
	height: 150px;
	position: absolute;
	left: 81%;
	z-index: -1;
}
#selectHuman {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectHuman:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectElf {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectElf:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectDwarf {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectDwarf:hover {
	cursor: pointer;
	color: #CFB53B;
}
#selectOrc {
	color: #FFDF00;
	margin-top: 25px;
	font-size: 24px;
}
#selectOrc:hover {
	cursor: pointer;
	color: #CFB53B;
}
#totalAttrPnts {
	color: #07e6ed;
	font-size: 24px;
	font-family: 'Lunchds';
	margin-top: 1%;
}
#totalAttrPnts p {
	color: #cfcfcf;
	font-family: 'Lunchds';
	display: inline;
}
#totalSkillPnts {
	color: #07e6ed;
	font-size: 24px;
	font-family: 'Lunchds';
	margin-top: 1%;
}
#totalSkillPnts p {
	color: #cfcfcf;
	font-family: 'Lunchds';
	display: inline;
}
#totalSkillPnts {
	float: right;
	background-color: black;
	width: 350px;
	height: 150px;
	position: absolute;
	left: 81%;
	z-index: -1;
}
#preview {
	background-color: #222222;
	border: 2px;
	position: absolute;
	left: 80%;
	overflow-y: scroll;
	height: 80%; 
	width: 20%;
	top: 10%;
	z-index: 100;
	cursor: text;
	padding-right: 17px;
	position: fixed;
	border: 3px groove #cfcfcf;
	cursor: default !important;
}
.attributeContainer {
	width: 12.5%;
    margin: 0 42.5% 0 47%
}
#preview {
	background-color: #222222;
	border: 2px;
	position: absolute;
	left: 80%;
	overflow-y: scroll;
	height: 80%; 
	width: 20%;
	top: 10%;
	z-index: 100;
	cursor: text;
	padding-right: 17px;
	position: fixed;
	border: 3px groove #cfcfcf;
	cursor: default !important;
}
.userNamePreview {
	display: inline-block;
}
.next {
	color:#cfcfcf;
	font-family: 'Lunchds';
	text-align: center;
	margin-top: 5%;
	font-size: 18px;
	position: absolute;
	left: 49.25%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#skillList {
	text-align: center;
}
#skillList li {
	
}
.previewClass {
	cursor: text !important; 
	color: #CFCFCF;
}
.previewClass:hover {
	color: #CFCFCF;
}
.characterPreview li {
	cursor: default !important; 
	color: #CFCFCF;
}
.characterPreview li:hover {
	cursor: default !important; 
	color: #CFCFCF;
}
#userNamePreview, #healthPreview, #manaPreview, #staminaPreview, #racePreview {
	cursor: default !important; 
	color: #CFCFCF;
}
#userNamePreview {
	color: #ffffb3;
}
#healthPreview {
	color: #b30000;
}
#manaPreview{
	color: #006bb3;
}
#staminaPreview{
	color: #008000;
}
#userNamePreview:hover {
	color: #ffffb3;
}
#healthPreview:hover {
	color: #b30000;
}
#manaPreview:hover {
	color: #006bb3;
}
#staminaPreview:hover {
	color: #008000;
}
#racePreview:hover {
	color: #CFCFCF;
}
.funText {
	color: #cfcfcf;
	font-family: 'Lunchds';
	text-align: center;
	font-size: 18px;
}
#greeting {
	color: #cfcfcf;
	font-family: 'Lunchds';
	text-align: center;
}
#skills {
	display: flex;
}
#phySkill {
	margin-left: 8%;
}
#mysSkill {
	margin-left: 8%;
}
#intSkill {
	margin-left: 8%;
}
#thiefSkill {
	margin-left: 8%;
}
#head1 {
	font-size: 24px;
	color: #FFDF00;
}
#head1:hover {
	color: #FFDF00;
	cursor: default;
}
#head2 {
	font-size: 24px;
	color: #FFDF00;
}
#head2:hover {
	color: #FFDF00;
	cursor: default;
}
#head3 {
	font-size: 24px;
	color: #FFDF00;
}
#head3:hover {
	color: #FFDF00;
	cursor: default;
}
#head4 {
	font-size: 24px;
	color: #FFDF00;
}
#head4:hover {
	color: #FFDF00;
	cursor: default;
}
#dev_skip {
	color: red;
}
#skills:hover {
	cursor: default;
}
#phySkill li div {
	display: inline;
	color: black;
}
#mysSkill li div {
	display: inline;
	color: black;
}
#intSkill li div {
	display: inline;
	color: black;
}
#thiefSkill li div {
	display: inline;
	color: black;
}
#classselector_black {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11111;
}
#mute_button:hover {
	cursor: pointer;
}