@font-face {
	font-family: 'Lunchds';
	src: url('LunchtimeDoublySoReg.eot');
	src: url('LunchtimeDoublySoReg.eot?#iefix') format('embedded-opentype'),
		url('LunchtimeDoublySoReg.woff') format('woff'),
		url('LunchtimeDoublySoReg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: black;
}
h1 {
	color: #cfcfcf;
	text-align: center;
	font-family: 'Lunchds';
	font-weight: normal;
}
p {
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 18px;
	margin-top: 5%;
}
#next {
	background-color: black;
	color: #cfcfcf;
	display: block;
	text-align: center;
	font-family: 'Lunchds';
	position: absolute;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	cursor: pointer;
}
#next:hover {
	color: white;
}
#whatsYourName {
	background-color: #424242;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 45px;
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 24px;
}
input:focus {
	outline: none;
}
.assistant {
	font-family: 'Lunchds';
	color: #cfcfcf;
	text-align: center;
	font-size: 18px;
	margin-top: 2%;
}
ul {
	list-style-type: none;
	margin-top: 5%;
	padding: 0;
}
ul li {
	font-family: 'Lunchds';
	color: #cfcfcf;
	font-size: 18px;
	margin-bottom: 12px;
	text-align: center;
}
ul li:hover {
	color: white;
	cursor: pointer;
}
