@font-face {
	font-family: 'Lunchds';
	src: url('LunchtimeDoublySoReg.eot');
	src: url('LunchtimeDoublySoReg.eot?#iefix') format('embedded-opentype'),
		url('LunchtimeDoublySoReg.woff') format('woff'),
		url('LunchtimeDoublySoReg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: black;
}
h1 {
	color: #cfcfcf;
	text-align: center;
	font-family: 'Lunchds';
	font-weight: normal;
}
#next {
	background-color: black;
	color: #cfcfcf;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Lunchds';
	position: absolute;
	top: 30%;
	left: 50%;
}
#next:hover {
	color: white;
}
